:root {
    --ancho-pantalla: 1400px;
}

.card-bg-width-psychologists {
    background-color: rgb(199, 237, 208);
    width: 360px;
}

@media screen and (max-width: 1200px) {
    :root {
        --ancho-pantalla: 1200px;
    }

    .card-bg-width-psychologists {
        background-color: rgb(199, 237, 208);
        width: calc(var(--ancho-pantalla) * 0.24);
    }
}

@media screen and (max-width: 992px) {
    :root {
        --ancho-pantalla: 992px;
    }


    .card-bg-width-psychologists {
        background-color: rgb(199, 237, 208);
        width: calc(var(--ancho-pantalla) * 0.22);
    }

}

@media screen and (max-width: 768px) {
    :root {
        --ancho-pantalla: 768px;
    }

    .card-bg-width-psychologists {
        background-color: rgb(199, 237, 208);
        width: calc(var(--ancho-pantalla) * 0.21);
        height: calc(var(--ancho-pantalla) * 0.21);
    }
}

@media screen and (max-width: 576px) {
    :root {
        --ancho-pantalla: 576px;
    }

    .card-bg-width-psychologists {
        background-color: rgb(199, 237, 208);
        width: 96%;
        margin-left: 11px;
    }
}

.card-container-width {
    width: calc(var(--ancho-pantalla) * 0.26);
}

.card-bg-color {
    background-color: rgb(248, 252, 244);
}

.card-img {
    width: 130px;
    height: 130px;
}

.card-tags-container {
    overflow-x: auto;
    white-space: nowrap;
}

.card-tags-bg-color {
    background-color: rgba(255, 244, 244, 255);
}

.myClass-pagination {
    position: relative !important;
    z-index: 1 !important;
    margin-top: 34px;
}

@media screen and (max-width: 1200px) {
    :root {
        --ancho-pantalla: 1200px;
    }

    .card-container-width {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    :root {
        --ancho-pantalla: 992px;
    }

    .card-container-width {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --ancho-pantalla: 768px;
    }

    .card-container-width {
        width: 100%;
    }

}

@media screen and (max-width: 576px) {
    :root {
        --ancho-pantalla: 576px;
    }

    .card-container-width {
        width: 100%;
    }
}