.container-cards{
    height: 454.58px;
    width: 360px;
    padding: 20px;
}

.bg-div-cards {
    background-color: rgb(199, 237, 208);
}

.div-cards-height {
    height: 100%;
}


.width-anchor {
    width: 100% !important;
}

/* /////// */
@media screen and (min-width: 768px) and (max-width: 1400px) {
    .width-anchor {
        width: 75% !important;
    }

    .bg-hover {
        position: relative;
        overflow: hidden;
    }

    /* overlay */
    .bg-hover::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color .3s ease;
        z-index: 2;
    }

    /* contenido interno, debajo del overlay */
    .bg-hover>* {
        position: relative;
        z-index: 1;
    }

    /* botón, oculto y preparado para centrar */
    .bg-hover a.btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity .3s ease;
        z-index: 3;
        /* Encima del overlay */
    }

    /* overlay y el botón centrado */
    .bg-hover:hover::after {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .bg-hover:hover a.btn {
        opacity: 1;
    }
}

/* /////// */

.border-custom-image {
    border-image: url(https://qui-cdn.azureedge.net/content/shared/ui/therapy-for-all-frame.svg) 7 stretch;
    border-image-width: 7px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
}

.border-color {
    border: 1px;
    border-style: solid;
    border-color: #1c8454;
}

@media screen and (max-width: 768px) {
    :root {
        --ancho-pantalla: 768px;
    }

    .div-cards-height {
        height: 88%;
    }
}

@media screen and (max-width: 576px) {
    :root {
        --ancho-pantalla: 576px;
    }

    .margin-row-div-cards {
        margin-left: 1px;
    }

}