.border-divs {
    border-image: url(https://qui-cdn.azureedge.net/content/shared/ui/how-border-1.svg) 7 stretch;
    border-image-width: 7px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
}

.div-steps-dimensions {
    width: 512px;
    height: 186px;
}

.p-position-text {
    padding-left: 73px;
    margin-top: 12px;
}

@media screen and (max-width: 1200px) {
    :root {
        --ancho-pantalla: 1200px;
    }

    .div-steps-dimensions {
        width: 512px;
        height: 198px;
    }
}

@media screen and (max-width: 992px) {
    :root {
        --ancho-pantalla: 992px;
    }

    .div-steps-dimensions {
        width: 512px;
        height: 304px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --ancho-pantalla: 768px;
    }

    .div-steps-dimensions {
        width: 512px;
        height: 190px;
    }

    .p-position-text {
        padding-left: 0px;
        margin-top: 12px;
    }

    .arrow {
        rotate: 90deg;
        height: 6px;
        margin: 14px;
    }
}

@media screen and (max-width: 576px) {
    :root {
        --ancho-pantalla: 576px;
    }

    .div-steps-dimensions {
        width: 311px;
        height: 253px;
    }
}